<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>Oywayten Cinema</title>
</head>
<body class="body bg-dark">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/index}">Oywayten Cinema Webapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link"
                   th:href="@{/sessions}"> Сеансы </a>
                <a class="nav-item nav-link"
                   th:if="${user.name == 'Гость'}"
                   th:href="@{/loginPage}">
                    <span th:text="${user.name}"></span>
                    <span> | Войти</span>
                </a>
                <a class="nav-item nav-link"
                   th:if="${user.name != 'Гость'}"
                   th:href="@{/logout}">
                    <span th:text="${user.name}"></span>
                    <span> | Выйти</span>
                </a>
                <a class="nav-item nav-link"
                   th:if="${user.name == 'Гость'}"
                   th:href="@{/addUser}">Регистрация</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card text-bg-dark"
             th:style="|min-width: 18rem; width: ${session1.hall.cells * 3.5}rem;|">
<!--             th:style="'min-width: 18rem; width: ' + ${session1.hall.cells * 2.5} + 'rem;'">-->

            <div class="card-body">
                <div th:if="${message != null}" class="alert alert-danger" role="alert"
                     th:text="${message}">
                    К сожалению, кто-то успел купить билет быстрее. Попробуйте выбрать другое место.
                </div>
                <img class="img-thumbnail"
                     th:src="@{|/photoSession/${session1.id}|}"
                     src="../img/godzilla.jpg"
                     th:width="150" th:high="150"
                     th:alt="${session1.name}">
                <h1 class="card-title"
                    th:text="'Сеанс ' + ${session1.name}"></h1>
                <h3 class="card-subtitle mb-2 text-muted"
                    th:text="'Зал ' + ${session1.hall.name}"></h3>
                <table class="table text-bg-dark">
                    <thead>
                    <tr class="table-primary border-primary border-bottom border-4">
                        <th width="50%" scope="col"
                            class="text-center"
                            th:colspan="${session1.hall.cells + 1}">Экран
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">Ряд</th>
                        <th width="50%" scope="col"
                            class="text-center"
                            th:colspan="${session1.hall.cells}">Место
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row: ${#numbers.sequence(1, session1.hall.rows)}">
                        <th scope="col" th:text="*{row}">
                        </th>
                        <td
                                th:each="cell: ${#numbers.sequence(1, session1.hall.cells)}">
                            <a type="button" class="btn btn-info btn-sm"
                                th:href="@{|/session2/${session1.id}/*{row}/*{cell}|}"
                               th:utext="*{cell}"
                               th:title="'Ряд: ' + *{row} + '&#013' + 'Место: ' + *{cell}"
                               ></a >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>